

.color-card {
    background: #31394D;
}

.color-card-2 {
    background: #FDFEFF;
}

.title {
    text-align:center;
    color: #ffffff;
    font-family: roboto;
    weight: 300;
    margin-left:90px;
    margin-top:-80px;
}

.title-2 {
    color: #2D354A;
    font-family: roboto;
    weight: 300;
}

.followers {
    color: #666B7D;
    font-family: 10px;
    margin-top: 10px;
    font-family: roboto;
    weight: 100;
}

.job-title {
    color: #7C8097;
    font-size: 12px;
    weight: 100;
    font-family: roboto;
}

.desc {
    font-size: 14px;
    margin-left: 65px;
    margin-right: 65px;
    color: #B7B8C0;
    text-align: center;
}







.contentr {
    display: center;
}


.color-a {
    background: linear-gradient(to top right, #8162CE, #F54BA5);
}

.color-b {
    background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}

.color-c {
    background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
}

.color-d {
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
}

.btnr {
    border: none;
    height: 40px;
    color: #ffffff;
    width: 35%;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}

    /*.btnr:hover {
        border: solid 1px #DA59B1;
        height: 40px;
        font-family: Roboto;
        color: #DA59B1;
        background: #ffffff;
        width: 35%;
        border-color: linear-gradient(to top right, #8162CE, #F54BA5);
        ;
        border-radius: 30px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    }*/

.circule {
    border-radius: 50%;
    border: none;
    height: 100px;
    
    width: 100px;
    color: #ffffff;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}






.imgr {
    position: relative;
}

.circle1, .circle2 {
    border: 1px solid grey;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 1.5s;
    position: absolute;
}

.circle1 {
    height: 100px;
    width: 100px;
    border-color: grey transparent grey grey;
    margin-left:100px;
}

.circle2 {
    height: 98px;
    width: 98px;
    border-color: grey grey grey transparent;
    margin-left: 100px;
}

.imgr:hover .circle1, .imgr:hover .circle2 {
    transform: rotate(360deg);
    cursor: pointer;
}












.up {
    margin-top: 40px;
}

.imgr {
   
    width: 280px;
}

.containe {
   
    
    width: 355px;
   
   margin-top:200px;
    padding-top: -100px;
    height:455px;
    
    position: relative;
}

    .containe:after, .containe:before {
        content: " ";
        display: table;
    }

    .containe:after {
        clear: both;
    }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-07, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-1 {
    width: 40px;
}

.grid-2 {
    width: 100px;
}

.grid-3 {
    width: 160px;
}

.grid-4 {
    width: 220px;
}

.grid-5 {
    width: 280px;
}

.grid-6 {
    width: 340px;
}

.grid-07 {
    width: 375px;
}

.grid-7 {
    width: 400px;
}

.grid-8 {
    width: 460px;
}

.grid-9 {
    width: 520px;
}

.grid-10 {
    width: 580px;
}

.grid-11 {
    width: 640px;
}

.grid-12 {
    width: 700px;
}

.grid-13 {
    width: 760px;
}

.grid-14 {
    width: 820px;
}

.grid-15 {
    width: 880px;
}

.grid-16 {
    width: 940px;
}

.grid-1-3 {
    width: 300px;
}








.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.15);
}

.card-6 {
    -webkit-box-shadow: 10px 10px 44px 15px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 44px 15px rgba(0,0,0,0.14);
    box-shadow: 10px 10px 44px 15px rgba(0,0,0,0.14);
}




.card-elevation {
    /*sombra*/
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    ;
}



.header {
    background: linear-gradient(to bottom right, #F762D2, #FF51A0);
    height: 250px;
}


.profile {
    border-radius: 100%;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}


.element-animation {
    animation: animationFrames ease 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}


@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px,0px);
    }

    60% {
        opacity: 1;
        transform: translate(30px,0px);
    }

    80% {
        transform: translate(-10px,0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px,0px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(30px,0px);
    }

    80% {
        -webkit-transform: translate(-10px,0px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px,0px);
    }





    @-webkit-keyframes bounceOut {
        0%

{
    box-shadow: 0 0 0 4px #82b541;
    opacity: 1;
}

25% {
    box-shadow: 0 0 0 1px #82b541;
    opacity: 1;
}

50% {
    box-shadow: 0 0 0 7px #82b541;
    opacity: 1;
}

75% {
    box-shadow: 0 0 0 4px #82b541;
    opacity: 1;
}

100% {
    box-shadow: 0 0 0 5px #82b541;
    opacity: 1;
}

}

@keyframes bounceOut {
    0% {
        box-shadow: 0 0 0 6px #82b541;
        opacity: 1;
    }

    25% {
        box-shadow: 0 0 0 2px #82b541;
        opacity: 1;
    }

    50% {
        box-shadow: 0 0 0 9px #82b541;
        opacity: 1;
    }

    75% {
        box-shadow: 0 0 0 3px #82b541;
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 0 5px #82b541;
        opacity: 1;
    }
}
