@model IEnumerable<IsAxtaris.Models.tbl_kategoriya>


<link href="~/Content/Hover-master/css/hover.css" rel="stylesheet" media="all">
<link href="~/Content/Hover-master/css/demo-page.css" rel="stylesheet" media="all">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CKYIE23M&placement=ianlunncouk" id="_carbonads_js"></script>


<div class="main">  
    <div id="effects" class="effects">
        @foreach (var item in Model)
        {
            <a href="#" class="hvr-bounce-in">@item.kategoriyaadi</a>
        }

    </div>
</div>

<style>
    .ds {
        margin-top: -35px;
    }

    .ss {
        margin-top: -10px;
    }
</style>


















<script>
    /**
                 * Used to demonstrate Hover.css only. Not required when adding
                 * Hover.css to your own pages. Prevents a link from being
                 * navigated and gaining focus.
                 */
    var effects = document.querySelectorAll('.effects')[0];

    effects.addEventListener('click', function (e) {

        if (e.target.className.indexOf('hvr') > -1) {
            e.preventDefault();
            e.target.blur();

        }
    });</script>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^https:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-11991680-4', 'ianlunn.github.io');
    ga('send', 'pageview');</script>




