h1 {

}

#container {
 
}



.section--purple {
    background-color: transparent;
}

.section--blue {
  background-color: transparent;
}

.section--green {
    background-color: transparent;
}

#main {
  text-align: center;
}

#more {
  margin: 20px auto 48px;
}
